@import 'tailwindcss';

@import './fonts.css';
@import './tailwind-theme.css';

@import './global-defaults.css';
@import './scroll-util.css';
@import './hud.css';
@import './scribble-strike.css';
@import './focus.css';

@layer base {
  .body--slides {
    height: var(--viewport-height);
    overflow: hidden;
  }

  body {
    color: var(--color-text);
    font-size: var(--text-regular);
    font-family: var(--font-face-regular);
    line-height: 1.6;
    background-color: var(--color-background);
    overflow-x: hidden;
  }
}
