@layer base {
  html {
    scrollbar-gutter: stable;
  }

  html.html-scroll-lock {
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}

@layer components {
  .scroll-stage > * {
    pointer-events: auto;
  }
}
