@theme {
  --spacing-content-width: 1500px;
  --spacing-content-padding: 40px;
  --spacing-footer-height: 200px;
  --spacing-section-padding: 150px;
  --spacing-intersection-padding: 75px;
  --spacing-magazine-padding: 245px;
  --spacing-experience-column-width: 600px;
  --spacing-grid-gap-regular: 50px;

  --container-prose-measure: 62ch;
  --container-column-width: 800px;

  --spacing-content-outer: calc((100vw - var(--spacing-content-width)) / 2);
  --spacing-content-outer-padded: calc(
    var(--spacing-content-outer) + var(--spacing-content-padding)
  );
}

:root {
  @variant desktop-m {
    --spacing-content-width: 1200px;
    --spacing-content-padding: 30px;
    --spacing-experience-column-width: 500px;
  }

  @variant tablet-s {
    --spacing-content-width: 840px;
    --spacing-content-padding: 20px;
    --spacing-section-padding: 100px;
    --spacing-intersection-padding: 50px;
    --spacing-grid-gap-regular: 30px;
    --spacing-magazine-padding: 0px;
  }

  @variant mobile-m {
    --spacing-content-width: 420px;
    --spacing-section-padding: 60px;
    --spacing-intersection-padding: 30px;
    --spacing-grid-gap-regular: 20px;
  }

  @variant mobile-s {
    --spacing-content-width: 100%;
  }
}
