:root {
  --font-face-title:
    'Space Mono', ui-monospace, 'JetBrains Mono', Menlo, monospace;
  --font-face-regular: 'JetBrains Mono', ui-monospace, Menlo, monospace;
  --font-face-special: 'Space Mono', ui-monospace, Menlo, monospace;

  --font-display: 100px;
  --font-title-1: 100px;
  --font-title-2: 54px;
  --font-title-3: 32px;
  --font-title-4: 21px;
  --font-lead: 24px;
  --font-caption: 20px;
  --font-regular: 15px;
  --font-hint: 13px;

  @media (max-width: 1580px) {
    --font-display: 86px;
    --font-title-1: 86px;
    --font-title-2: 48px;
    --font-title-3: 28px;
    --font-title-4: 21px;
    --font-lead: 18px;
    --font-caption: 16px;
    --font-regular: 15px;
    --font-hint: 13px;
  }

  @media (max-width: 1260px) {
    --font-display: 64px;
    --font-title-1: 64px;
    --font-title-2: 42px;
    --font-title-3: 24px;
    --font-title-4: 18px;
    --font-lead: 16px;
    --font-caption: 14px;
    --font-regular: 14px;
    --font-hint: 12px;
  }

  @media (max-width: 920px) {
    --font-display: 56px;
    --font-title-1: 56px;
    --font-title-2: 38px;
    --font-title-3: 21px;
    --font-title-4: 16px;
    --font-lead: 16px;
    --font-caption: 14px;
    --font-regular: 14px;
    --font-hint: 11px;
  }
}

@theme {
  --font-face-title:
    'Space Mono', ui-monospace, 'JetBrains Mono', Menlo, monospace;
  --font-face-regular: 'JetBrains Mono', ui-monospace, Menlo, monospace;
  --font-face-special: 'Space Mono', ui-monospace, Menlo, monospace;

  --text-*: initial;
  --leading-*: initial;
}

@theme inline {
  --text-display: var(--font-display);
  --text-title-1: var(--font-title-1);
  --text-title-2: var(--font-title-2);
  --text-title-3: var(--font-title-3);
  --text-title-4: var(--font-title-4);

  --text-lead: var(--font-lead);
  --text-caption: var(--font-caption);
  --text-regular: var(--font-regular);
  --text-hint: var(--font-hint);
}
