@theme {
  --color-*: initial;

  --color-base: #000;
  --color-surface: #131418;
  --color-edge: rgb(83, 76, 76);
  --color-text: #fff;
  --color-muted: #8b8484;
  --color-accent: #ff6a1f;
  --color-system: #34e39b;
  --color-info: #4d8dff;

  --color-background: var(--color-base);

  --color-white: #fff;
  --color-black: #000;
}
