:root {
  --font-face-title:
    'Space Mono', ui-monospace, 'JetBrains Mono', Menlo, monospace;
  --font-face-regular: 'JetBrains Mono', ui-monospace, Menlo, monospace;
  --font-face-special: 'Space Mono', ui-monospace, Menlo, monospace;

  --font-title-1: 86px;
  --font-title-2: 54px;
  --font-title-3: 32px;
  --font-title-4: 21px;
  --font-caption: 20px;
  --font-regular: 15px;
  --font-hint: 13px;
}

@theme {
  --font-face-title:
    'Space Mono', ui-monospace, 'JetBrains Mono', Menlo, monospace;
  --font-face-regular: 'JetBrains Mono', ui-monospace, Menlo, monospace;
  --font-face-special: 'Space Mono', ui-monospace, Menlo, monospace;

  --text-*: initial;
  --leading-*: initial;
}

@theme inline {
  --text-title-1: var(--font-title-1);
  --text-title-2: var(--font-title-2);
  --text-title-3: var(--font-title-3);
  --text-title-4: var(--font-title-4);

  --text-caption: var(--font-caption);
  --text-regular: var(--font-regular);
  --text-hint: var(--font-hint);
}
