@theme {
  --breakpoint-*: initial;

  --bp-desktop-m: 1580px;
  --bp-desktop-s: 1420px;
  --bp-tablet-s: 1260px;
  --bp-mobile-m: 940px;
  --bp-mobile-s: 420px;
}

@custom-variant desktop-m (@media (max-width: theme(--bp-desktop-m)));
@custom-variant desktop-s (@media (max-width: theme(--bp-desktop-s)));
@custom-variant tablet-s (@media (max-width: theme(--bp-tablet-s)));
@custom-variant mobile-m (@media (max-width: theme(--bp-mobile-m)));
@custom-variant mobile-s (@media (max-width: theme(--bp-mobile-s)));
